<div class="container">
  <table class="table table-responsive">
    <tbody>
      <% @payrolls.each do |p| %>
      <tr>
        <td><%= p.month %></td>
        <td><%= p.year %></td>
        <td><%= p.employee.first_name %></td>
        <td><a href="<%= payroll_path(p.id)%>" class="btn btn-info"> View </a></td>
        <td><a href="<%= edit_payroll_path(p.id)%>" class="btn btn-success"> Edit </a></td>
        <td><a href="<%= payroll_path(p.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></td>
      </tr>
      <% end if @payrolls.any?%>
    </tbody>
  </table>
</div>
