<div class="container col-md-12">
  <div class="row col-md-offset-1">
    <!--FILTER BY EMPLOYEE-->
    <h4>Search payroll by employee</h4>
    <div class="row col-md-7">
      <%= form_tag searches_path, method: :get do %>
        <select name="employee_id" class="selectpicker">
          <%= @employees.each do |e| %>
            <option value="<%= e.id %>"> <%= "#{e.first_name}" "#{" "}" "#{e.last_name}" %> </option>
          <% end  %>
        </select>
        <%= submit_tag "Search!", class: "btn btn-primary" %>
      <% end %>
    </div>
    <br>
  </div>
  <!--SELECT BY MONTH OF THE PAYROLL-->
  <br>
</div>
  <!--SHOW PAYROLL BY EMPLOYEE-->
  <div class="container col-md-5 col-md-offset-1">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Concept</th>
        <th>Value</th>
        <th>Total</th>
      </tr>
    </table>
    <table class="table table-striped">
      <% @payroll.each do |p| %>
        <tr>
          <td><%= p.employee.first_name %></td>
          <td><%= p.concept.name %></td>
          <td><%= p.value %></td>
        </tr>
      <% end if @payroll.any? %>
      <td><%= @total %></td>
    </table>
  </div>
</div>
