<% if @concept.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@concept.errors.count, "error") %> prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @concept.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container col-md-4 col-md-offset-1">
  <h1>New Concept</h1>
  <%= form_for @concept do |c| %>
    <!--NAME-->
    <div class="form-group">
      <%= c.label :name %>
      <%= c.text_field :name, class: "form-control" %>
    </div>
    <!--TYPE-->
    <div class="form-group">
      <%= c.label :type %><br>
      <select name="concept[concept_type]" class="selectpicker">
        <option value="true">Devengado</option>
        <option value="false">Deducido</option>
      </select>
    </div>
    <!--VALUE-->
    <!--BUTTONS-->
    <%= c.submit "new concept", class:"btn btn-primary" %>
  <% end %> <!--FORM_FOR-->
</div>
<!--IMPORT SEVERAL COMPANIES CSV-->
<div class="container col-md-3">
  <h3>Import concepts</h3>
  <br>
  <div class="form-group">
    <%= form_tag import_concepts_path, multipart: true do %>
      <%= file_field_tag :file, class: "form-control" %>
      <br>
      <%= submit_tag "Import file", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
